* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    color: rgb(243, 79, 14);
}

p {
    text-align: start;
    color: rgb(71, 93, 206);
    /* text-decoration: 2px solid line-through; */
}
